<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Lama Dev Admin Dashboard" />
    <title>TitlePro</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1>Accepting Webhooks...</h1>
    <h2>v0.8</h2>
    <div id="root"></div>
    <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
    <stripe-pricing-table pricing-table-id="prctbl_1NxdJLAc0ugh8cpHL4dzMC9f"
      publishable-key="pk_test_51NtEtrAc0ugh8cpHnw2OpkpjdbFXS8Yi6ueQHQDH9umwhAq8sW1t0JEcDtQYW7OnpZO6j8JnqOPQagVYahzO8k9x00GkQnFQk6">
    </stripe-pricing-table>

    <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
    <stripe-pricing-table pricing-table-id="prctbl_1OCAugKyEjqwSRXRgnqizz4x"
    publishable-key="pk_test_51NVxAXKyEjqwSRXRjuge7lyah0C5pPXWBeq4jHmksVxvtuD4GYRg0seL54feZjkWA9mpVDnxiZYAue25dfJQoAQj00BV67eNbQ">
    </stripe-pricing-table>

  </body>
</html>
